* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: var(--fuente-principal);
    background-color: var(--gris-claro);
    color: var(--verde-oscuro);
  }
  